.dropdown-demo .p-dropdown {
    width: 200px;
}

.dialog-demo .p-button {
    margin: 0 .5rem 0 0;
    min-width: 10rem;
}

.dialog-demo p {
    margin: 0;
    line-height: 1.5;
}

.dialog-demo .confirmation-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dialog-demo .p-dialog .p-button {
    min-width: 6rem;
}

.treetable-editing-demo .p-treetable .p-treetable-tbody > tr > td.p-cell-editing {
    padding-top: 0;
    padding-bottom: 0;
}